body{
    background: linear-gradient(to left,#3b1736ea,#ec6dd7ec);
}
.calculatrice{
    background-color: #661058d8;

}
.ecran{
    background-color: #6883ced5;
}
.touches{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(5,50px);
    gap: 5px;
}
.bouton{
    border-radius: 5px;
    /* border: solid 1px #fff; */
    background-color: #b96be6;
    font-weight: 600;
    color: black;
    box-shadow: 0 1px #a8a8a8;

}
.bouton:active{
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
}
.bouton[data-key="8"]{
    background-color: orange;
    color: white;
}
.bouton[data-key="13"]{
    background-color: rgb(59, 202, 59);
    color: white;
}